<nav class="navbar">
        <span class="navbar-brand navbar1">Quizzly</span>
    </nav>
    <div class="container">
        <br>
        <p class="navbar-brand navbar1">Click on a button when you are ready to take that quiz</p>
        <ul>
            <li><a href="/math" class="round purple">Math<span class="round">Get your calculator ready.</span></a></li>
            <li><a href="/science" class="round red">Science<span class="round">Eliminate all distractions first! </span></a>
            </li>
            <li><a href="/english" class="round yellow">English<span class="round">You got this!</span></a></li>
        </ul>
        <br>
        <ul>
            <li><a href="/geography" class="round blue">Geography<span class="round">Let's take a trip around the
                        world.</span></a>
            </li>
            <li><a href="/history" class="round green">History<span class="round">Ready to travel back in time?</span></a></li>
        </ul>
    </div>